<section id="detailSection" class="detail-section">
	<div class="loader">
		<i class="fas fa-spinner fa-spin"></i>
	</div> 
	<div id="detail" class="detail-content"></div>
	<form id="comments-form" class="comments-form" novalidate>
		<div class="comments-input">
			<label for="comment">What do you think about this beer?</label>
			<input id="comment" placeholder="Add your comment" class="input primary" type="text">
		</div>
		<button type="submit" class="button primary">Tell us!!!</button>
	</form>
	<div class="comments-list">
		<h2>Comments</h2>
		<div id="commentList">
		</div>
	</div>
</section>