.app-navbar {
    background-color: $primary-color-dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-height: 100px;
    min-height: 50px;
    z-index: 3;
    a {
      font-size: $logo-font;
      color: $primary-color-text;
      vertical-align: bottom;
    }
    .fas {
      font-size: 2rem;
      cursor: pointer;
      color: $primary-color-text;
    }
    .filter-input {
      display: flex;
    }

    /* state */
    &.no-search {
      height: 70px;
      picture,
      .filter-container,
      .fa-times {
        display: none;
      }
      .navbar-logo {
        display: block;
        padding: 20px;
      }
      .fa-search {
        display: block;
        margin-right: 20px;
      }
      @include desktop {
        .filter-container {
          display: flex;
        }
        .navbar-icon {
          display: none;
        }
      }
    }
  
    &.search {
      picture {
        width: 100%;
        display: flex;
        padding: 0;
        height: 70px;
        img{
          object-fit: cover;
        }
      }
      .input{
        &.limit {
          padding: 0 5px;
          margin: 0 3px;
          width: 34px;
        }
        &.year {
          margin: 0 3px 0 0;
          width: 38px;
        }
      }
      .navbar-icon {
        z-index: 10;
        position: absolute;
        right: 0px;
      }
      .filter-container {
        width:80%;
        display: flex;  
        align-items: center;
        justify-content: start;
        padding: 20px;
        z-index: 10;
        position: absolute;
        @include tablet {
          width: 40%;
        }
        @include desktop {
          padding: 20px;
        }
      }
      .fa-times {
        display: block;
        margin-right: 20px;
      }
      .navbar-logo,
      .fa-search {
        display: none;
      }
    }
  }
  