.app-navbar {
    background-color: $primary-color-dark;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    @include tablet {
      height: 100px;
    }
    a {
      font-size: $logo-font;
      color: $primary-color-text;
      vertical-align: bottom;
      @include desktop {
        padding: 0.3rem 1rem;
        background-color: $primary-color-dark;
        border-radius: 5px;
      }
    }
    .fas {
      font-size: 2rem;
      cursor: pointer;
      color: $primary-color-text;
    }
    .filter-input {
      display: flex;
    }

    /* state */
    &.no-search {
      height: 70px;
      @include tablet {
        height: 100px;
      }
      .filter-container,
      .fa-times {
        display: none;
        @include desktop {
          display: flex
        }
      }
      picture {
        display: none;
        @include desktop {
          width: 100% !important;
          height: 100px !important;
          display: flex;
          z-index: -10;
          position: absolute;
          img {
            width: 100% !important;
            object-fit: cover !important;
          }
          source {
            width: 100% !important;
            object-fit: cover !important;
          }
        }
      }
      .navbar-logo {
        display: inline-block;
      }
      .fa-search {
        display: block;
      }
      @include desktop {
        .filter-container {
          display: flex;
        }
        .navbar-icon {
          display: none;
        }
      }
    }
    &.search {
      picture {
        width: 100%;
        height: 70px !important;
        display: flex;
        z-index: -10;
        position: absolute;
        @include tablet {
          height: 100px !important;;
        }
        img {
          width: 100%;
          object-fit: cover;
        }
        source {
          width: 100%;
          object-fit: cover;
        }
      }
      .input{
        &.limit {
          padding: 0 5px;
          width: 34px;
        }
        &.year {
          margin: 0 3px 0 0;
          width: 55px;
        }
      }
      .navbar-icon {
        display: flex;
        align-items: center;
      }
      .filter-container {
        width:80%;
        @include tablet {
          width: 60%;
        }
        @include desktop {
          padding: 20px;
        }
      }
      .fa-times {
        display: block;
      }
      .navbar-logo,
      .fa-search {
        display: none;
      }
    }
  }
  