$primary-color-dark:   rgb(0, 0, 0);
$primary-color:        #ffad15;
$primary-color-light:  lighten($primary-color, 50%);
$primary-color-text:   #FFFFFF;
$accent-color:         #9E9E9E;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$header-font-family: 'Staatliches';
$primary-font-family: 'Lato', sans-serif;

$primary-font-size: 1rem;
$secondary-font-size: 0.9rem;
$icons: $primary-font-size + .5rem;
$header-h2: $primary-font-size + .3rem;
$logo-font: $primary-font-size + 2rem;

$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;
